<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellsmusic.mappers.yellsmusic">

<!-- 게시물 목록 -->
<select id="list" resultType="com.yellsmusic.domain.YellsmusicVO">
	select
		bno, title, content, writer, regDate, viewCnt
	from yellsdb.tbl_board
</select>

</mapper>